---
import {EMAIL, SLACK, GITHUB_REPOSITORY_URL} from "@/helpers/variables"
const today = new Date()
const pagePath = Astro.url.pathname
---

<footer class="o-footer-services">
	<div class="o-footer-services__container">
		<div class="o-footer-services__wrapper o-footer-services__wrapper--top">
			<a
				class="o-footer-services__icon-link o-footer-services__icon-link--github"
				href={GITHUB_REPOSITORY_URL}>View project on GitHub</a
			>
			<a
				class="o-footer-services__icon-link o-footer-services__icon-link--github"
				href={`${GITHUB_REPOSITORY_URL}/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc`}
				>View proposals to Origami</a
			>
			<a
				class="o-footer-services__icon-link o-footer-services__icon-link--slack"
				href={`https://financialtimes.slack.com/messages/${SLACK}`}>#{SLACK}</a
			>
			<p class="o-footer-services__content">
				Get in touch at <a href={`mailto:${EMAIL}`}>{EMAIL}</a> for help or advice.
				Feel free to
				<a
					href={`${GITHUB_REPOSITORY_URL}/edit/main/apps/website/src/pages${pagePath}`}
					>suggest an edit to this page</a
				>.
			</p>
		</div>
	</div>
	<div class="o-footer-services__container">
		<div class="o-footer-services__wrapper o-footer-services__wrapper--legal">
			<div class="o-footer-services__links">
				<a href="https://help.ft.com/help/legal-privacy/cookies/">Cookies</a>
				<a
					href="https://help.ft.com/help/legal-privacy/copyright/copyright-policy/"
					>Copyright</a
				>
				<a href="https://help.ft.com/help/legal-privacy/privacy/">Privacy</a>
				<a href="https://help.ft.com/help/legal-privacy/terms-conditions"
					>Terms & Conditions</a
				>
				<a href="https://help.ft.com/legal-privacy/copyright-policy/"
					>Slavery Statement & Policies</a
				>
			</div>
			<p>
				<span>&copy; THE FINANCIAL TIMES LTD {today.getFullYear()}.</span> FT and
				'Financial Times' are trademarks of The Financial Times Ltd.
			</p>
		</div>
	</div>
</footer>
