---
import DocLayout from "@/layouts/DocLayout.astro"
import {getCollection} from "astro:content"

export async function getStaticPaths() {
	const postEntries = await getCollection("posts")
	return postEntries.map(entry => ({
		params: {slug: entry.slug},
		props: {entry},
	}))
}

const {entry} = Astro.props
const {Content} = await entry.render()
---

<DocLayout>
	<h1>{entry.data.title}</h1>
	<Content />
</DocLayout>
