---
import {getCollection} from "astro:content"
import {formatDateString, generateBlogPostURL} from "@/helpers/utils"
import Layout from "@/layouts/Layout.astro"

const title = "Origami Blog"
const description =
	"A blog for announcements relating to the Origami team, components, and services."

const allPosts = await getCollection("posts")
const sortedPosts = allPosts.sort(
	(a, b) => b.data.publishDate - a.data.publishDate
)
---

<Layout title={title} description={description}>
	<div class="o-layout__hero o-layout__hero--muted o-layout-typography">
		<h1>Origami Blog</h1>
		<p>
			A blog for announcements relating to the Origami team, components, and
			services.
			<a href="/feed.xml">Subscribe to our feed for updates</a>.
		</p>
	</div>
	<div class="o-layout__main">
		<ul class="o-layout__listing">
			{
				sortedPosts.map(post => {
					return (
						<li class="o-layout__listing__item">
							<h2 class="o-layout__listing__item__title">
								<a href={"/blog/" + generateBlogPostURL(post.slug)}>
									{post.data.title}
								</a>
							</h2>
							{post.data.description.length !== 0 && (
								<p class="o-layout__listing__item__description">
									{post.data.description}
								</p>
							)}
							<p class="o-layout__listing__item__meta">
								Posted {formatDateString(post.data.publishDate)} by{" "}
								{post.data.author}.
								{post.data.tags && <span> Tagged {post.data.tags}.</span>}
							</p>
						</li>
					)
				})
			}
		</ul>
	</div>
</Layout>
