---
import {getCollection} from "astro:content"
import DocLayout from "@/layouts/DocLayout.astro"

export async function getStaticPaths() {
	const entries = await getCollection("documents", ({id}) =>
		id.startsWith("principles/")
	)
	return entries.map(entry => ({
		params: {slug: entry.slug},
		props: {entry},
	}))
}
const {entry} = Astro.props
const {Content} = await entry.render()
---

<DocLayout>
	<h1>{entry.data.title}</h1>
	<Content />
</DocLayout>
