---
import {getCollection} from "astro:content"
import DocLayout from "@/layouts/DocLayout.astro"

const allPrinciples = await getCollection("documents", ({id}) =>
	id.startsWith("principles/")
)
---

<DocLayout>
	<ul class="o-layout__listing">
		{
			allPrinciples.map(principle => {
				console.log(principle)
				return (
					<li class="o-layout__listing__item">
						<h2 class="o-layout__listing__item__title">
							<a href={principle.slug}>{principle.data.title}</a>
						</h2>
						{principle.data.description.length !== 0 && (
							<p class="o-layout__listing__item__description">
								{principle.data.description}
							</p>
						)}
					</li>
				)
			})
		}
	</ul>
</DocLayout>
