---
import Layout from "@/layouts/Layout.astro"
import {getCollection} from "astro:content"
import {filterAndSortNavbars} from "@/helpers/utils"

const title = "Origami Documentation"
const description =
	"Documentation on how to use Origami's components and services to help your team deliver products for the FT."

const collectionIds = [
	"principles",
	"components",
	"services",
	"manifests",
	"tutorials",
	"documentation",
]

const [
	allPrinciples,
	allComponents,
	allServices,
	manifests,
	allTutorials,
	subnavChildren,
] = await Promise.all(
	collectionIds.map(async collectionId => {
		return await getCollection(
			"documentation",
			({data}) => data.collection_id === collectionId
		)
	})
)
---

<Layout
	title={title}
	description={description}
	secondaryNav={{children: subnavChildren}}
>
	<div class="o-layout__hero o-layout__hero--muted o-layout-typography">
		<h1>{title}</h1>
		<p>{description}</p>
	</div>
	<div class="o-layout__main o-layout-typography">
		<div class="o-layout__overview">
			<div class="o-layout-item">
				<h2>Principles</h2>
				<p>
					These are the <a href="/documentation/principles/"
						>principles that the Origami team follows</a
					>
					when developing components and services:
				</p>
				<ul>
					<!-- this is for main page of documentation-principles-->
					{
						filterAndSortNavbars(allPrinciples).map(principle => (
							<li>
								<a href={`/documentation/${principle.slug}`}>
									{principle.data.title}
								</a>
							</li>
						))
					}
				</ul>
			</div>

			<div class="o-layout-item">
				<h2>Components</h2>
				<p>
					Read documentation on <a href="/documentation/components/"
						>using our collection of front end components</a
					>:
				</p>

				<ul>
					{
						filterAndSortNavbars(allComponents).map(component => (
							<li>
								<a href={`/documentation/${component.slug}`}>
									{component.data.title}
								</a>
							</li>
						))
					}
				</ul>
			</div>
			<div class="o-layout-item">
				<h2>Services</h2>
				<p>
					We provide <a href="/documentation/services/">several services</a> for
					use by people at the FT:
				</p>

				<ul>
					{
						filterAndSortNavbars(allServices).map(service => (
							<li>
								<a
									href={`/documentation/services/#${
										service.slug.split("/")[1]
									}`}>
									{service.data.title}
								</a>
							</li>
						))
					}
				</ul>
			</div>

			<div class="o-layout-item">
				<h2>Tutorials</h2>
				<p>
					Follow <a href="/documentation/tutorials/">our tutorials</a> for a more
					hands-on introduction to Origami.
				</p>

				<ul>
					{
						filterAndSortNavbars(allTutorials).map(tutorial => (
							<li>
								<a href={`/documentation/${tutorial.slug}`}>
									{tutorial.data.title}
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</Layout>
