---
import DocLayout from "@/layouts/DocLayout.astro"
import MainContent from "@/components/docLayout/MainContent.astro"
import {getComponentDataFromContent} from "@/helpers/utils"

const title = "Origami Services"
const description = `As well as <a href="/documentation/components">front end components</a>,
			Origami maintain several services for use by development teams at the <abbr
				title="Financial Times">FT</abbr
			>. Each service is self-documenting, but here we outline what each of them
			does.`
const collectionName = "documentation"
const collectionFilterCallback = ({id}) => id.startsWith("services/")
const componentsToRender = await getComponentDataFromContent(
	collectionName,
	collectionFilterCallback
)
---

<DocLayout
	title={title}
	description={description}
	secondaryNav={{children: []}}
>
	<MainContent
		title={title}
		description={description}
		componentsToRender={componentsToRender}
	/>
</DocLayout>
