---
import * as Component from './preview/Group-Buttons.tsx'
import Preview from '../utils/Preview.astro';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import { getButtonThemeForBrand } from './getButtonThemeForBrand';

const {brand} = Astro.props;

const storybookId = `${brand}-o3-button--grouped-buttons`;
---

<div>
	<Preview component={Component} themes={getButtonThemeForBrand[brand]} />
	<FigmaSbLinks {storybookId} />
</div>
