---
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';
import * as Body from './preview/Body';
import * as TopicTag from './preview/TopicTag';
import * as Caption from './preview/Caption';
import * as StandFirst from './preview/StandFirst';
const brand = Astro.props.brand || 'core';

const figma =
	'https://www.figma.com/design/y25ZjT1MqqHbNXNXsm8DET/Documentation-Content-Template?node-id=754-4443&t=kyDVEfsg2tRJspyY-4';
const storybook = 'https://o3.origami.ft.com/?path=/story/';
const storybookIdBody = `${brand}-o3-editorial-typography--body`;
const storybookIdTopicTag = `${brand}-o3-editorial-typography--topic-tag`;
const storybookIdStandFirst = `${brand}-o3-editorial-typography--stand-first`;
const storybookIdCaption = `${brand}-o3-editorial-typography--caption`;
---

<h4>Body</h4>
<p>Use for body text, paragraphs and lists. This is responsive.</p>

<Preview component={Body} />
<FigmaSbLinks {figma} storybook={storybook + storybookIdBody} />

<h3>Topic Tag</h3>

<p>Also called display tag, are category labels in the FT. Used in teasers
	(article cards) to indicate the category of a post.</p>

<Preview component={TopicTag} />
<FigmaSbLinks {figma} storybook={storybook + storybookIdTopicTag} />

<h3>Standfirst</h3>

<p>Short intro below the headline that provides context about a post. Used
	in combination with a header in the topper component.</p>

<Preview component={StandFirst} />
<FigmaSbLinks {figma} storybook={storybook + storybookIdStandFirst} />

<h3>Caption</h3>

<p>For additional information about a piece or image that should be less
	prominent.
</p>

<Preview component={Caption} />
<FigmaSbLinks {figma} storybook={storybook + storybookIdCaption} />

