---
import FigmaSbLinks from './FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const figma =
	'https://www.figma.com/design/y25ZjT1MqqHbNXNXsm8DET/Documentation-Content-Template?node-id=754-4457&t=kyDVEfsg2tRJspyY-4';

const storybook = `https://o3.origami.ft.com/?path=/story/${brand}-o3-editorial-typography--byline`;

const metaDataPath = 'src/components/editorial-typography/preview/Byline.tsx';
---

<p>
	Byline component tells information about the author of a piece. The elements
	that constitute a byline include, author name, location and timestamp.
</p>

<Preview metaData={metaDataPath} />

<FigmaSbLinks {figma} {storybook} />
