---
import {Headline} from '@financial-times/o3-editorial-typography';
import Preview from '../utils/Preview.astro';
import * as HeadlinePreview from './preview/Headline';
import * as Chapter from './preview/Chapter';
import * as Subheading from './preview/Subheading';
import * as Label from './preview/Label';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
const brand = Astro.props.brand || 'core';

const storybookIdHeadline = `${brand}-o3-editorial-typography--heading`;
const storybookIdChapter = `${brand}-o3-editorial-typography--chapter`;
const storybookIdSubheading = `${brand}-o3-editorial-typography--subheading`;
const storybookIdLabel = `${brand}-o3-editorial-typography--label`;
---

<h4>Headline</h4>
<p>
	For titles and introductions of Feature posts and other new stories. Usage
	example: <a
		href="https://www.ft.com/content/0d1326b7-8c83-46bc-a9c2-56ce7bb1a109#:~:text=Add%20to%20myFT-,Keir%20Starmer%20defends%20green%20spending%20U%2Dturn%20as%20Sunak%20claims%20Labour%20policy%20is%20in%20%E2%80%98tatters%E2%80%99,-Opposition%20leader%20wants"
	>
		Top Stories
	</a>, <a
		href="https://www.ft.com/content/65593173-7f85-47f6-a253-29cc374fd3ca#:~:text=Opinion%20Corporate%20governance-,Sunak%20take%20note%3A%20diluting%20corporate%20governance%20has%20consequences,-Proposed%20reforms%20to"
	>
		Opinion
	</a>
</p>

<Preview component={HeadlinePreview} />
<FigmaSbLinks storybookId={storybookIdHeadline} />

<h4>Lower Headings</h4>
<p>
	The following headlines have the same values across all screen sizes, mobile,
	tablet, desktop.
</p>

<h5>Chapter</h5>

<p>For in-page titles / chapters.</p>

<Preview component={Chapter} />
<FigmaSbLinks storybookId={storybookIdChapter} />

<h5>Subheading</h5>

<p>For in-page sub-titles / sub-headings.</p>

<Preview component={Subheading} />
<FigmaSbLinks storybookId={storybookIdSubheading} />

<h5>Label</h5>

<p>
	To provide short details about a chapter, kickers (additional headline) just
	above a chapter.
</p>

<Preview component={Label} />
<FigmaSbLinks storybookId={storybookIdLabel} />
