---
import {Headline} from '@financial-times/o3-editorial-typography';
import Preview from '../utils/Preview.astro';
import * as HeadlinePreview from './preview/Headline';
import * as Chapter from './preview/Chapter';
import * as Subheading from './preview/Subheading';
import * as Label from './preview/Label';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
const brand = Astro.props.brand || 'core';

const storybook = `https://o3.origami.ft.com/?path=/story/${brand}-o3-editorial-typography--heading`;
const figma = 'https://www.figma.com/design/VVM0PixrY3IRZq2ZUTdWfU/%F0%9F%92%A0-Core---Origami-(o3)?node-id=6420-4977&t=j74LBeAnENqXFvKw-4';

const storybookIdHeadline = `&args=type:headline&globals=backgrounds.name:paper;backgrounds.value:!hex(fff1e5ff)`;
const storybookIdChapter = `&args=type:chapter&globals=backgrounds.name:paper;backgrounds.value:!hex(fff1e5ff)`;
const storybookIdSubheading = `&args=type:subheading&globals=backgrounds.name:paper;backgrounds.value:!hex(fff1e5ff)`;
const storybookIdLabel = `&args=type:label&globals=backgrounds.name:paper;backgrounds.value:!hex(fff1e5ff)`;
---


<h4>Headline</h4>
<p>For titles and introductions of Feature posts and other new stories. This is responsive.

<Preview component={HeadlinePreview} />
<FigmaSbLinks {figma} storybook={storybook + storybookIdHeadline} />

<h4>Lower Headings</h4>
<p>
	The following headlines have the same values across all screen sizes, mobile,
	tablet, desktop.
</p>

<h5>Chapter</h5>

<p>For in-page titles and chapters.</p>

<Preview component={Chapter} />
<FigmaSbLinks {figma} storybook={storybook + storybookIdChapter} />


<h5>Subheading</h5>

<p>For in-page sub-titles / sub-headings.</p>

<Preview component={Subheading} />
<FigmaSbLinks {figma} storybook={storybook + storybookIdSubheading} />


<h5>Label</h5>

<p>To provide short details about a chapter, kickers (additional headline)
just above a chapter.
</p>

<Preview component={Label} />
<FigmaSbLinks {figma} storybook={storybook + storybookIdLabel} />
