---
import {Headline} from '@financial-times/o3-editorial-typography';
import Preview from '../utils/Preview.astro';
import * as HeadlinePreview from './preview/Headline';
import * as Chapter from './preview/Chapter';
import * as Subheading from './preview/Subheading';
import * as Label from './preview/Label';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
const {brand} = Astro.props;
const storybookIdHeadline = `${brand}-o3-editorial-typography--headline`;
const storybookIdChapter = `${brand}-o3-editorial-typography--chapter`;
const storybookIdSubheading = `${brand}-o3-editorial-typography--Subheading`;
const storybookIdLabel = `${brand}-o3-editorial-typography--Label`;
---



<h4>Headline</h4>
<p>For titles and introductions of Feature posts and other new stories. Usage example: <a
	href="https://www.ft.com/content/0d1326b7-8c83-46bc-a9c2-56ce7bb1a109#:~:text=Add%20to%20myFT-,Keir%20Starmer%20defends%20green%20spending%20U%2Dturn%20as%20Sunak%20claims%20Labour%20policy%20is%20in%20%E2%80%98tatters%E2%80%99,-Opposition%20leader%20wants">Top
	Stories</a>, <a
	href="https://www.ft.com/content/65593173-7f85-47f6-a253-29cc374fd3ca#:~:text=Opinion%20Corporate%20governance-,Sunak%20take%20note%3A%20diluting%20corporate%20governance%20has%20consequences,-Proposed%20reforms%20to">Opinion</a>
</p>

<Preview component={HeadlinePreview}/>
<FigmaSbLinks storybookId={storybookIdHeadline} />

<h4>Lower Headings</h4>
<p>
	The following headlines have the same values across all screen sizes, mobile,
	tablet, desktop.
</p>

<h5>Chapter</h5>

For in-page titles and chapters.
<Preview component={Chapter} />
<FigmaSbLinks storybookId={storybookIdChapter} />

<p>Usage Examples: <a
	href="https://www.ft.com/content/844ed28c-8074-4856-bde0-20f3bf4cd8f0#:~:text=gaming.%20Tom%20Braithwaite-,1.%20Amazon,-SECTOR%3A%20ECOMMERCE%20/%20HQ">FT
	Series</a>, <a
	href="https://www.ft.com/content/40413894-3612-4228-8435-fb6af2659eb2#:~:text=AGO07%3A50-,Labour%20blames%20government%20finances%20for%20ditching%20%C2%A328bn%20green%20investment%20plan,-Donato%20Paolo%20Mancini">Live
	News</a></p>

<h5>Subheading</h5>

For in-page sub-titles and sub-headings.

<Preview component={Subheading} />
<FigmaSbLinks storybookId={storybookIdSubheading} />

<p>For in-page sub-titles / sub-headings</p>
<p>Usage Example: <a
	href="https://www.ft.com/content/2489a831-7a4b-4bcb-96ec-2c9c1d4ebe8e#:~:text=for%20all%20palates.-,The%20Salad%20Project,-1%20OLD%20BROAD">FT
	Globetrotter</a></p>

<h5>Label</h5>

To provide short details about a chapter, kickers (additional headline)
just above a chapter.

<Preview component={Label} />
<FigmaSbLinks storybookId={storybookIdLabel} />

<p>Usage Examples: <a href="https://www.ft.com/content/844ed28c-8074-4856-bde0-20f3bf4cd8f0#:~:text=SECTOR%3A%20ECOMMERCE%20/%20HQ%3A%20SEATTLE%2C%20US">FT Series</a>, <a href="https://www.ft.com/content/82574e3d-1633-48ad-8afb-71ebb3fe3dee#:~:text=promised%20the%20world.-,EARLY%20WARNINGS,-The%20virus%20arrives">kickers</a></p>
