---
import {Headline} from '@financial-times/o3-editorial-typography';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
const {brand} = Astro.props
let storybook =
	`https://o3.origami.ft.com/?path=/story/${brand}-o3-editorial-typography--heading`;
let figma =
	'https://www.figma.com/design/5ATknbGociZMlnNXX4sy4f/Whitelabel---Origami-(o3)?node-id=4717-652&t=JoNufjYjDEE8n0FL-4';
---

{brand === 'core' || brand === 'professional' && <>
<h4>Headline Large</h4>

<p>
	Use for titles and headlines of Main news pages and articles. Usually in the
	full-bleed topper component. Use in moderation.
</p>

<table>
	<thead>
		<tr>
			<th>Viewport</th>
			<th>Style Preview</th>
			<th>Links</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>S</td>
			<td class="headline-large-s">Headline large</td>
			<td>
				<FigmaSbLinks {figma} {storybook} />
			</td>
		</tr>
		<tr>
			<td>M</td>
			<td class="headline-large-m">Headline large</td>
			<td>
				<FigmaSbLinks {figma} {storybook} />
			</td>
		</tr>
		<tr>
			<td>L</td>
			<td class="headline-large-l">Headline large</td>
			<td>
				<FigmaSbLinks {figma} {storybook} />
			</td>
		</tr>
	</tbody>
</table></>}

<h4>Headline</h4>
<p>For titles and introductions of Feature posts and other new stories.</p>
<table>
	<thead>
		<tr>
			<th>Viewport</th>
			<th>Style Preview</th>
			<th>Links</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>S</td>
			<td class="headline-s">Headline</td>
			<td>
				<FigmaSbLinks {figma} {storybook} />
			</td>
		</tr>
		<tr>
			<td>M</td>
			<td class="headline-m">Headline</td>
			<td>
				<FigmaSbLinks {figma} {storybook} />
			</td>
		</tr>
		<tr>
			<td>L</td>
			<td class="headline-l">Headline</td>
			<td>
				<FigmaSbLinks {figma} {storybook} />
			</td>
		</tr>
	</tbody>
</table>

<h4>Lower Headings</h4>
<p>
	The following headlines have the same values across all screen sizes, mobile,
	tablet, desktop.
</p>

<table>
	<thead>
		<tr>
			<th>Style Preview</th>
			<th>Usage</th>
			<th>Links</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="chapter not-content">
				<Headline type="chapter">Chapter</Headline>
			</td>
			<td>For in-page titles / chapters</td>
			<td>
				<FigmaSbLinks {figma} {storybook} />
			</td>
		</tr>
		<tr>
			<td class="subheading not-content">
				<Headline type="subheading">Subheading</Headline>
			</td>
			<td>For in-page sub-titles / sub-headings</td>
			<td>
				<FigmaSbLinks {figma} {storybook} />
			</td>
		</tr>
		<tr>
			<td class="label not-content">
				<Headline type="label">LABEL</Headline>
			</td>
			<td
				>To provide short details about a chapter, kickers (additional headline)
				just above a chapter.
			</td>
			<td>
				<FigmaSbLinks {figma} {storybook} />
			</td>
		</tr>
	</tbody>
</table>

<style>
	tr > td:first-child {
		text-align: center;
	}

	.headline-large-s {
		font-family: var(
			--_o3-editorial-typography-headline-large-s-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-large-s-font-weight
		);
		font-size: var(
			--_o3-editorial-typography-headline-large-s-font-size
		);
		line-height: var(
			--_o3-editorial-typography-headline-large-s-line-height
		);
	}

	.headline-large-m {
		font-family: var(
			--_o3-editorial-typography-headline-large-m-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-large-m-font-weight
		);
		font-size: var(
			--_o3-editorial-typography-headline-large-m-font-size
		);
		line-height: var(
			--_o3-editorial-typography-headline-large-m-line-height
		);
	}
	.headline-large-l {
		font-family: var(
			--_o3-editorial-typography-headline-large-l-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-large-l-font-weight
		);
		font-size: var(
			--_o3-editorial-typography-headline-large-l-font-size
		);
		line-height: var(
			--_o3-editorial-typography-headline-large-l-line-height
		);
	}

	.headline-s {
		font-family: var(
			--_o3-editorial-typography-headline-s-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-s-font-weight
		);
		font-size: var(--_o3-editorial-typography-headline-s-font-size);
		line-height: var(
			--_o3-editorial-typography-headline-s-line-height
		);
	}

	.headline-m {
		font-family: var(
			--_o3-editorial-typography-headline-m-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-m-font-weight
		);
		font-size: var(--_o3-editorial-typography-headline-m-font-size);
		line-height: var(
			--_o3-editorial-typography-headline-m-line-height
		);
	}
	.headline-l {
		font-family: var(
			--_o3-editorial-typography-headline-l-font-family
		);
		font-weight: var(
			--_o3-editorial-typography-headline-l-font-weight
		);
		font-size: var(--_o3-editorial-typography-headline-l-font-size);
		line-height: var(
			--_o3-editorial-typography-headline-l-line-height
		);
	}
</style>
