---
import FigmaSbLinks from './FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const figma =
	'https://www.figma.com/design/y25ZjT1MqqHbNXNXsm8DET/Documentation-Content-Template?node-id=754-4418&t=kyDVEfsg2tRJspyY-4';

const storybook = `https://o3.origami.ft.com/?path=/story/${brand}-o3-editorial-typography--link`;

const metaDataPath = 'src/components/editorial-typography/preview/Link.tsx';
---

<p>
	Link style can be applied and usually they are wrapped inside a body class
</p>

<Preview metaData={metaDataPath} />

<FigmaSbLinks {figma} {storybook} />
