---
import * as Component from './preview/Link.tsx';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const figma =
	'https://www.figma.com/design/y25ZjT1MqqHbNXNXsm8DET/Documentation-Content-Template?node-id=754-4418&t=kyDVEfsg2tRJspyY-4';

const storybook = `https://o3.origami.ft.com/?path=/story/${brand}-o3-editorial-typography--link`;
---

<p>
	Link style can be applied inline (within a paragraph or body text) or standalone. The inline links inherits the text properties of the body it is in.
</p>
<p>
	Link focus style follows the global Origami focus for single ring element.
</p>

<Preview component={Component} />

<FigmaSbLinks {figma} {storybook} />

<h4>Use descriptive words to describe links</h4>

<p>Link text should be clear, concise, and descriptive enough to make sense out of context. Avoid vague phrases like "click here" or "read more." for example: use "Read our accessibility guidelines" Instead.</p>
