---
import {Link} from '@financial-times/o3-editorial-typography/esm';
import FigmaSbLinks from './FigmaSbLinks.astro';

const {brand} = Astro.props;
const figma =
	'https://www.figma.com/design/y25ZjT1MqqHbNXNXsm8DET/Documentation-Content-Template?node-id=754-4418&t=kyDVEfsg2tRJspyY-4';

const storybook = `https://o3.origami.ft.com/?path=/story/${brand}-o3-editorial-typography--link`;
---

<p>Link style can be applied</p>

<div class="component-preview not-content">
	<p class="o3-editorial-typography-body">
		An article by
		<Link href="https://ft.com/">The Financial Times</Link>
		.
	</p>
</div>

<FigmaSbLinks {figma} {storybook} />

<style>
	.o3-editorial-typography-blockquote > p {
		margin: revert;
	}
</style>
