---
import * as OrdredComponent from './preview/List-Ordered.tsx';
import * as UnordredComponent from './preview/List-Unordered.tsx'
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const sbId = `${brand}-o3-editorial-typography--list`

---

<h4>Ordered List</h4>

<Preview component={OrdredComponent} />

<FigmaSbLinks {sbId} />

<h4>Unordered List</h4>

<Preview component={UnordredComponent} />

<FigmaSbLinks {sbId} />
