---
import * as OrdredComponent from './preview/List-Ordered.tsx';
import * as UnordredComponent from './preview/List-Unordered.tsx'
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const storybookId = `${brand}-o3-editorial-typography--list`

---

<h4>Ordered List</h4>

<p>Ordered list contains items in a sequential order or priority. List items follow an alphanumeric sequence. This is responsive.</p>

<Preview component={OrdredComponent} />

<FigmaSbLinks {storybookId} />

<h4>Unordered List</h4>

<p>Unordered lists make blocks of related text easier to read. Use for non-sequential lists. This is responsive.</p>

<Preview component={UnordredComponent} />

<FigmaSbLinks {storybookId} />
