---
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const figma =
	'https://www.figma.com/design/y25ZjT1MqqHbNXNXsm8DET/Documentation-Content-Template?node-id=754-4370&t=kyDVEfsg2tRJspyY-4';
const quoteSbLinkGenerator = (type: string) => {
	return `https://o3.origami.ft.com/?path=/story/${brand}-o3-editorial-typography--quote&args=type:${type}`;
};
const sbBlock = quoteSbLinkGenerator('block');
const sbPull = quoteSbLinkGenerator('pull');

const metaDataPathBlock =
	'src/components/editorial-typography/preview/Quote-Block.tsx';
const metaDataPathPull =
	'src/components/editorial-typography/preview/Quote-Pull.tsx';
---

<h4>Block quote</h4>
<p>
	For content direct snippet of an author's words. Optional elements: caption,
	the vertical bar.
</p>

<Preview metaData={metaDataPathBlock} />

<FigmaSbLinks {figma} storybook={sbBlock} />

<h4>Pull quote</h4>
<p>
	For content direct snippet of an author's words. Optional elements: caption,
	the vertical bar.
</p>

<Preview metaData={metaDataPathPull} />

<FigmaSbLinks {figma} storybook={sbPull} />
