---
import * as BlockComponent from './preview/Quote-Block.tsx';
import * as PullComponent from './preview/Quote-Pull.tsx';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const storybookId = `${brand}-o3-editorial-typography--quote`;
---

{
	(brand === 'core' || brand === 'professional') && (
		<>
			<p>We have two variants:</p>
			<h4>Block quote</h4>
			<p>
				For direct quotations of an author's words from other sources. It’s usually indented from the main body of text.
			</p>
			<Preview component={BlockComponent} />
			<FigmaSbLinks {storybookId} />
		</>
	)
}

<h4>Pull quote</h4>
<p>
	Pull quote is used to highlight important points within a body of text. It is usually placed within the body of the text and left-aligned.
</p>

<Preview component={PullComponent} />

<FigmaSbLinks {storybookId} />
