---
import * as Component from './preview/TopicTag';
import FigmaSbLinks from '../utils/FigmaSbLinks.astro';
import Preview from '../utils/Preview.astro';

const {brand} = Astro.props;
const figma =
	'https://www.figma.com/design/y25ZjT1MqqHbNXNXsm8DET/Documentation-Content-Template?node-id=1301-1096&t=kyDVEfsg2tRJspyY-4';

const storybook = `https://o3.origami.ft.com/?path=/story/${brand}-o3-editorial-typography--topic-tag`;
---

<p>
	Topic tag is used to indicate the category of a post. It’s default colour may be customised to suit your product
	need.
</p>

<Preview component={Component} />

<FigmaSbLinks {figma} {storybook} />
