---
import Layout from "@/layouts/Layout.astro"
import {getCollection} from "astro:content"
import DocLayout from "@/layouts/DocLayout.astro"

const allServices = await getCollection("documents", ({id}) =>
	id.startsWith("services/")
)
---

<DocLayout>
	<div
		class="o-layout__main o-layout-typography data-o-component="
		o-syntax-highlight
	>
		<h1 id="origami-principles" class="o-layout__linked-heading">
			<a
				href="#origami-principles"
				title="Link directly to this section of the page"
				class="o-layout__linked-heading__link"
			>
				<span class="o-layout__linked-heading__content">Origami Principles</span
				>
				<span class="o-layout__linked-heading__label">#</span>
			</a>
		</h1>
		<p>
			As well as [front end components](/documentation/components), Origami
			maintain several services for use by development teams at the <abbr
				title="Financial Times">FT</abbr
			>. Each service is self-documenting, but here we outline what each of them
			does.
		</p>

		{
			allServices.map(service => {
				console.log(service.body)
				return (
					<>
						<h2 id={service.data.title} class="o-layout__linked-heading">
							<a
								href={`#${service.data.title}`}
								title="Link directly to this section of the page"
								class="o-layout__linked-heading__link">
								<span class="o-layout__linked-heading__content">
									{service.data.title}
								</span>
								<span class="o-layout__linked-heading__label">#</span>
							</a>
						</h2>
						<p>
							{service.body}
							<a href={service.slug.split("/")[1]}>{" " + service.data.cta}</a>
						</p>
					</>
				)
			})
		}
	</div>
</DocLayout>
