---
import links from '@financial-times/o3-figma-sb-links';

interface Props {
	/** Storybook Id from o3-figma-sb-links package. Tries to find both storybook path and figma link */
	storybookId?: string;
	/** Extra parameters to modify controls in sotrybook and display preciese example for demos */
	sbPathParams?: string;
	/** Custom URL that will be used for storybook demo link */
	storybook?: string;
	/** Custom URL that will be used to link to Figma designs  */
	figma?: string
}

const {storybook, figma} = getLinks(Astro.props);

function getLinks(props: Props) {
	let {storybookId, sbPathParams, storybook, figma} = props;
	const brandedstorybookId = storybookId?.startsWith('professional')
	? `core-${storybookId}`
	: storybookId;
	if (!storybook && storybookId) {
		const sbPath = links[brandedstorybookId]?.sb;
		storybook = `https://o3.origami.ft.com/${sbPath}`;
		if (sbPathParams) {
			const storybookArgs = `&args=${Object.entries(sbPathParams)
				.map(p => `${p[0]}:${p[1]};`)
				.join('')}`;
			storybook += storybookArgs;
		}
	}
	if (!figma && storybookId) {
		const figmaEmbedUrl = links[brandedstorybookId]?.figma;
		if (figmaEmbedUrl) {
			const urlObj = new URL(figmaEmbedUrl);
			const params = new URLSearchParams(urlObj.search);
			figma = params.get('url');
		}
	}
	return {storybook, figma};
}
---

{
	storybook && (
		<a
			style="display: inline-block; margin: var(--o3-spacing-2xs) 0;"
			href={storybook}>
			Open in StoryBook
		</a>
	)
}
{storybook && figma && ' | '}
{
	figma && (
		<a
			style="display: inline-block; margin: var(--o3-spacing-2xs) 0;"
			href={figma}>
			Open in Figma
		</a>
	)
}
